## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(['NAME','EIN'],1)
application_df.head()

/usr/local/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE

app_type = application_df['APPLICATION_TYPE'].value_counts()
app_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
app_type[app_type < 500].index

Index(['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17'], dtype='object')

In [6]:
application_types_to_replace = app_type[app_type < 500].index

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
class_cat = application_df['CLASSIFICATION'].value_counts()
class_cat

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
class_cat[class_cat < 1883].index

Index(['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100',
       'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000',
       'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278',
       'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600',
       'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256',
       'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820',
       'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570',
       'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561',
       'C4500', 'C2150'],
      dtype='object')

In [10]:
classifications_to_replace = class_cat[class_cat < 1883].index

In [11]:

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
app_df = pd.get_dummies(application_df)
app_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [13]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = app_df['IS_SUCCESSFUL'].values
X = app_df.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=5)

/usr/local/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
hl_one_units = 80
hl_one_dim = len(X_train_scaled[0])
hl_two_units = 10


nn_model = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=hl_one_units, activation="relu", input_dim=hl_one_dim))

# Second hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=hl_two_units, activation="relu"))

# Output layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

2022-05-27 07:31:36.438887: I tensorflow/core/platform/cpu_feature_guard.cc:145] This TensorFlow binary is optimized with Intel(R) MKL-DNN to use the following CPU instructions in performance critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in non-MKL-DNN operations, rebuild TensorFlow with the appropriate compiler flags.
2022-05-27 07:31:36.439353: I tensorflow/core/common_runtime/process_util.cc:115] Creating new thread pool with default inter op setting: 8. Tune using inter_op_parallelism_threads for best performance.

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 80)                3520
_________________________________________________________________
dense_1 (Dense)              (None, 10)                810
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 11
=================================================================
Total params: 4,341
Trainable params: 4,341
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
#  YOUR CODE GOES HERE
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 4s 142us/sample - loss: 0.5675 - accuracy: 0.7224
Epoch 2/100
25724/25724 [==============================] - 3s 99us/sample - loss: 0.5539 - accuracy: 0.7299
Epoch 3/100
25724/25724 [==============================] - 4s 147us/sample - loss: 0.5507 - accuracy: 0.7312
Epoch 4/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5490 - accuracy: 0.7315
Epoch 5/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5481 - accuracy: 0.7320
Epoch 6/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5468 - accuracy: 0.7317
Epoch 7/100
25724/25724 [==============================] - 2s 82us/sample - loss: 0.5462 - accuracy: 0.7334
Epoch 8/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5459 - accuracy: 0.7327
Epoch 9/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5452 - accuracy: 0.7334
Epoch 10/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5445 - accuracy: 0.7343
Epoch 11/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5440 - accuracy: 0.7345
Epoch 12/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5437 - accuracy: 0.7343
Epoch 13/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5432 - accuracy: 0.7346
Epoch 14/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5435 - accuracy: 0.7350
Epoch 15/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5433 - accuracy: 0.7334
Epoch 16/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5425 - accuracy: 0.7347
Epoch 17/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5428 - accuracy: 0.7336
Epoch 18/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5421 - accuracy: 0.7351
Epoch 19/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5417 - accuracy: 0.7350
Epoch 20/100
25724/25724 [==============================] - 3s 125us/sample - loss: 0.5423 - accuracy: 0.7348
Epoch 21/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.5415 - accuracy: 0.7363
Epoch 22/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5414 - accuracy: 0.7359
Epoch 23/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5411 - accuracy: 0.7360
Epoch 24/100
25724/25724 [==============================] - 2s 97us/sample - loss: 0.5411 - accuracy: 0.7351
Epoch 25/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.5408 - accuracy: 0.7355
Epoch 26/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5407 - accuracy: 0.7358
Epoch 27/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5402 - accuracy: 0.7363
Epoch 28/100
25724/25724 [==============================] - 3s 99us/sample - loss: 0.5405 - accuracy: 0.7357
Epoch 29/100
25724/25724 [==============================] - 3s 99us/sample - loss: 0.5404 - accuracy: 0.7365
Epoch 30/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5403 - accuracy: 0.7371
Epoch 31/100
25724/25724 [==============================] - 2s 97us/sample - loss: 0.5400 - accuracy: 0.7368
Epoch 32/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5395 - accuracy: 0.7369
Epoch 33/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5396 - accuracy: 0.7372
Epoch 34/100
25724/25724 [==============================] - 2s 92us/sample - loss: 0.5396 - accuracy: 0.7374
Epoch 35/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5394 - accuracy: 0.7366
Epoch 36/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5394 - accuracy: 0.7361
Epoch 37/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5395 - accuracy: 0.7379
Epoch 38/100
25724/25724 [==============================] - 2s 92us/sample - loss: 0.5390 - accuracy: 0.7378
Epoch 39/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5390 - accuracy: 0.7357
Epoch 40/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.5394 - accuracy: 0.7372
Epoch 41/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5389 - accuracy: 0.7380
Epoch 42/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5387 - accuracy: 0.7371
Epoch 43/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5384 - accuracy: 0.7369
Epoch 44/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5384 - accuracy: 0.7371
Epoch 45/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5383 - accuracy: 0.7369
Epoch 46/100
25724/25724 [==============================] - 3s 124us/sample - loss: 0.5386 - accuracy: 0.7384
Epoch 47/100
25724/25724 [==============================] - 3s 97us/sample - loss: 0.5382 - accuracy: 0.7380
Epoch 48/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5378 - accuracy: 0.7375
Epoch 49/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5386 - accuracy: 0.7366
Epoch 50/100
25724/25724 [==============================] - 2s 92us/sample - loss: 0.5378 - accuracy: 0.7381
Epoch 51/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5379 - accuracy: 0.7380
Epoch 52/100
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5377 - accuracy: 0.7381
Epoch 53/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5378 - accuracy: 0.7370
Epoch 54/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5377 - accuracy: 0.7375
Epoch 55/100
25724/25724 [==============================] - 3s 106us/sample - loss: 0.5377 - accuracy: 0.7374
Epoch 56/100
25724/25724 [==============================] - 3s 107us/sample - loss: 0.5375 - accuracy: 0.7375
Epoch 57/100
25724/25724 [==============================] - 3s 104us/sample - loss: 0.5375 - accuracy: 0.7378
Epoch 58/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.5374 - accuracy: 0.7382
Epoch 59/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.5370 - accuracy: 0.7379
Epoch 60/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5375 - accuracy: 0.7371
Epoch 61/100
25724/25724 [==============================] - 3s 125us/sample - loss: 0.5374 - accuracy: 0.7384
Epoch 62/100
25724/25724 [==============================] - 3s 122us/sample - loss: 0.5370 - accuracy: 0.7372
Epoch 63/100
25724/25724 [==============================] - 4s 171us/sample - loss: 0.5366 - accuracy: 0.7391
Epoch 64/100
25724/25724 [==============================] - 3s 126us/sample - loss: 0.5368 - accuracy: 0.7395
Epoch 65/100
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5368 - accuracy: 0.7383
Epoch 66/100
25724/25724 [==============================] - 4s 155us/sample - loss: 0.5367 - accuracy: 0.7392
Epoch 67/100
25724/25724 [==============================] - 7s 289us/sample - loss: 0.5369 - accuracy: 0.7378
Epoch 68/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.5368 - accuracy: 0.7381
Epoch 69/100
25724/25724 [==============================] - 4s 151us/sample - loss: 0.5367 - accuracy: 0.7383
Epoch 70/100
25724/25724 [==============================] - 6s 222us/sample - loss: 0.5365 - accuracy: 0.7392
Epoch 71/100
25724/25724 [==============================] - 5s 190us/sample - loss: 0.5362 - accuracy: 0.7382
Epoch 72/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5363 - accuracy: 0.7392 - l
Epoch 73/100
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5366 - accuracy: 0.7383
Epoch 74/100
25724/25724 [==============================] - 3s 122us/sample - loss: 0.5364 - accuracy: 0.7387
Epoch 75/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.5362 - accuracy: 0.7387
Epoch 76/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5362 - accuracy: 0.7389
Epoch 77/100
25724/25724 [==============================] - 3s 125us/sample - loss: 0.5363 - accuracy: 0.7377
Epoch 78/100
25724/25724 [==============================] - 3s 107us/sample - loss: 0.5360 - accuracy: 0.7383
Epoch 79/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5361 - accuracy: 0.7381
Epoch 80/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5356 - accuracy: 0.7383
Epoch 81/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.5360 - accuracy: 0.7392
Epoch 82/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.5359 - accuracy: 0.7389
Epoch 83/100
25724/25724 [==============================] - 2s 92us/sample - loss: 0.5360 - accuracy: 0.7390
Epoch 84/100
25724/25724 [==============================] - 2s 96us/sample - loss: 0.5361 - accuracy: 0.7384
Epoch 85/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5358 - accuracy: 0.7385
Epoch 86/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5359 - accuracy: 0.7385
Epoch 87/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5356 - accuracy: 0.7394
Epoch 88/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5356 - accuracy: 0.7393
Epoch 89/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5354 - accuracy: 0.7396
Epoch 90/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5354 - accuracy: 0.7386
Epoch 91/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5355 - accuracy: 0.7386
Epoch 92/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5353 - accuracy: 0.7385
Epoch 93/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5353 - accuracy: 0.7390
Epoch 94/100
25724/25724 [==============================] - 2s 92us/sample - loss: 0.5352 - accuracy: 0.7387
Epoch 95/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5353 - accuracy: 0.7391
Epoch 96/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.5355 - accuracy: 0.7396
Epoch 97/100
25724/25724 [==============================] - 3s 114us/sample - loss: 0.5350 - accuracy: 0.7395
Epoch 98/100
25724/25724 [==============================] - 3s 123us/sample - loss: 0.5355 - accuracy: 0.7387
Epoch 99/100
25724/25724 [==============================] - 3s 105us/sample - loss: 0.5351 - accuracy: 0.7391
Epoch 100/100
25724/25724 [==============================] - 8s 324us/sample - loss: 0.5351 - accuracy: 0.7396

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 2s - loss: 0.5599 - accuracy: 0.7277
Loss: 0.5602589949922033, Accuracy: 0.7276967763900757

In [19]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn_model.save("abcsoup.h5")